# Jira Configuration (Required)
JIRA_BASE_URL=jira base url
JIRA_EMAIL=jira email
JIRA_API_TOKEN=your jira tocken

# Optional Settings
JIRA_MCP_LOG_LEVEL=info
JIRA_MCP_RATE_LIMIT=100
JIRA_MCP_USE_TOON=true
JIRA_MCP_TOON_DELIMITER=,
